.parent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form span{
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.above_form{
    height: 50%;
     background-color:transparent;
    margin-top: 13%;
    width: 20%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.form_item{
    display: flex;
    justify-content: space-between;
}